.vs/timsort/v16/.suo
.vs/timsort/v16/Browse.VC.db
.vs/timsort/v16/ipch/AutoPCH/78e76beaa4fe8ba7/SOURCE.ipch
.vs/timsort/v16/ipch/AutoPCH/d457381c83bd1268/TIMSORT.ipch
Debug/timsort.exe
Debug/timsort.ilk
Debug/timsort.pdb
timsort/timsort.vcxproj
timsort/timsort.vcxproj.filters
timsort/timsort.vcxproj.user
timsort/Debug/Source.obj
timsort/Debug/timsort.log
timsort/Debug/timsort.obj
timsort/Debug/vc142.idb
timsort/Debug/vc142.pdb
timsort/Debug/timsort.tlog/CL.command.1.tlog
timsort/Debug/timsort.tlog/CL.read.1.tlog
timsort/Debug/timsort.tlog/CL.write.1.tlog
timsort/Debug/timsort.tlog/link.command.1.tlog
timsort/Debug/timsort.tlog/link.read.1.tlog
timsort/Debug/timsort.tlog/link.write.1.tlog
timsort/Debug/timsort.tlog/timsort.lastbuildstate
